################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C-Sharp Practice/.vs/C-Sharp Practice/v16
/C-Sharp Practice/C-Sharp Practice/bin/Debug/netcoreapp2.1
/C-Sharp Practice/C-Sharp Practice/obj
/C-Sharp Practice/C-Sharp Practice/bin/Debug/netcoreapp2.2
/C-Sharp Practice/UnitTestProject1/bin/Debug/netcoreapp2.2
/C-Sharp Practice/UnitTestProject1/obj/Debug/netcoreapp2.2
/C-Sharp Practice/UnitTestProject1/obj
